@use "../../colors" as *;
@use "../../mixins" as *;
@use "../../reset" as *;
@use "../../sizes" as *;

@media (min-width: 768px) {
	.nav {
		&__button {
			display: none;
		}

		&__logo {
			@include flexCenter(row);

			font-size: 5rem;
			color: $white;
			font-family: "Arizonia", cursive;
		}

		&__img {
			width: 45px;

			color: aliceblue;
			object-fit: cover;
			object-position: center;
			border-radius: 10%;
			padding: 0.1em;
		}

		&__links {
			flex-direction: row;
			gap: 0.5em;
			position: relative;
			left: unset;
			top: unset;
			width: unset;
			height: unset;
			padding: 0;
			opacity: 1;
			transform: translateX(0);
			background-color: unset;
		}

		&__link {
			color: $white;
			position: relative;
			padding: 0.3em 0.5em;
			transition: color 0.3s ease;

			&:hover {
				color: $menu;
			}
		}

		&__glass {
			cursor: pointer;
			transition: color 0.3s ease;
			&:hover {
				color: $menu;
			}
		}

		&__shopping {
			cursor: pointer;
			transition: color 0.3s ease;
			&:hover {
				color: $menu;
			}
		}
	}
	///////////////////////////search///////
	///
	.search {
		max-width: 700px;

		&__name {
			transition: transform 0.3s ease;
		}
		&__img {
			transition: transform 0.3s ease;
		}
		&__price {
			transition: transform 0.3s ease;
		}

		&__item {
			&:hover .search__name {
				transform: scale(1.1);
			}
		}
		&__item {
			&:hover .search__img {
				transform: scale(1.1);
			}
		}
		&__item {
			&:hover .search__price {
				transform: scale(1.1);
			}
		}
	}
	// ////////////////////////////

	.about {
		&__box {
			max-width: 600px;
		}

		&__img {
			height: 350px;
			width: 100%;
		}
	}

	//////////////////////
	.newsletter {
		&__form {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: start;
		}

		&__btn {
			font-size: 1.5rem;
			transition:border .3s ease;
			&:hover {
				// color: $menu;
				border: 1px solid $menu;
			}
		}
	}

	.footer {
		&__body {
			flex-direction: row;
			justify-content: space-between;
			padding-bottom: 0.5em;
		}
	}
}
