*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

html {
  scroll-padding-top: 80px;
}

body {
  font-family: "Asul", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  width: 100%;
  padding: 0 0.5em;
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  height: 8vh;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
  background-color: #101311;
}
.nav__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__button {
  padding: 0.5em;
  color: #ffffff;
  font-size: 2.4rem;
  cursor: pointer;
}
.nav__hide {
  display: none;
}
.nav__logo {
  display: none;
}
.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  position: fixed;
  left: 0;
  top: 8vh;
  width: 100%;
  height: 92vh;
  padding: 5em 0 0 1.5em;
  text-transform: uppercase;
  font-family: "Asul", sans-serif;
  letter-spacing: 0.7px;
  background-color: #ffffff;
  transform: translateX(-105%);
  transition: all 0.3s ease;
}
.nav__links--active {
  transform: translateX(0);
}
.nav__link {
  color: #222;
  padding: 0.5em;
}
.nav__icons {
  display: flex;
  gap: 1em;
  color: #ffffff;
  font-size: 2rem;
}

.about__bgc {
  height: 50vh;
  background: url("/img/enjoy.jpg") rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.about__heading {
  color: #ffffff;
  font-size: 3.5rem;
  font-family: "Asul", sans-serif;
  text-align: center;
  padding: 0 1em;
}
.about__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  max-width: 450px;
}
.about__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1em;
}
.about__img {
  margin-bottom: 0.5em;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
}

.search {
  position: fixed;
  top: 54px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}
.search__close {
  position: absolute;
  right: -30px;
  top: 8px;
  font-size: 3rem;
  color: #BE9C79;
  cursor: pointer;
}
.search__bgc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.788);
  transition: 0.4s ease;
  scale: 0;
  opacity: 0;
}
.search__bgc--active {
  scale: 1;
  opacity: 1;
}
.search__input {
  width: 100%;
  height: 50px;
  padding: 1em 2em;
  margin-bottom: 0.2em;
  background-color: #ffffff;
  border: none;
  transition: transform 0.4s ease;
  text-transform: capitalize;
  font-family: "Asul", sans-serif;
  font-size: 1.6rem;
}
.search__input:focus {
  outline: none;
}
.search__items {
  background-color: rgb(253, 253, 253);
}
.search__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.8em 0.3em;
  margin-bottom: 0.7em;
  flex-basis: 35%;
  border-bottom: 1px solid rgb(216, 216, 216);
  font-family: "Asul", sans-serif;
}
.search__img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.search__name {
  color: #222;
}
.search__price {
  color: #BE9C79;
}
.search__overflow {
  overflow: hidden;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
  font-family: "Asul", sans-serif;
  color: #ffffff;
  background-color: #111;
}
.newsletter__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
.newsletter__text {
  text-align: center;
}
.newsletter__input {
  width: 290px;
  padding: 0.5em;
}
.newsletter__input:focus {
  border: 1px solid #BE9C79;
  outline: none;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  width: 100%;
  overflow: hidden;
}
.newsletter__msg {
  font-size: 1.4rem;
}
.newsletter__btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em 1em;
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}
.newsletter__btn:focus {
  border: 1px solid #BE9C79;
  outline: none;
}
.newsletter__send {
  color: #BE9C79;
}

.footer {
  background-color: #222;
  color: #ffffff;
  padding: 1em;
}
.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer__img {
  width: 50px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__imgs {
  display: flex;
  gap: 0.5em;
}

.footer {
  background-color: #222;
  color: #ffffff;
  padding: 1em;
}
.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer__img {
  width: 50px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__imgs {
  display: flex;
  gap: 0.5em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

@media (min-width: 768px) {
  .nav__button {
    display: none;
  }
  .nav__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #ffffff;
    font-family: "Arizonia", cursive;
  }
  .nav__img {
    width: 45px;
    color: aliceblue;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 10%;
    padding: 0.1em;
  }
  .nav__links {
    flex-direction: row;
    gap: 0.5em;
    position: relative;
    left: unset;
    top: unset;
    width: unset;
    height: unset;
    padding: 0;
    opacity: 1;
    transform: translateX(0);
    background-color: unset;
  }
  .nav__link {
    color: #ffffff;
    position: relative;
    padding: 0.3em 0.5em;
    transition: color 0.3s ease;
  }
  .nav__link:hover {
    color: #BE9C79;
  }
  .nav__glass {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .nav__glass:hover {
    color: #BE9C79;
  }
  .nav__shopping {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .nav__shopping:hover {
    color: #BE9C79;
  }
  .search {
    max-width: 700px;
  }
  .search__name {
    transition: transform 0.3s ease;
  }
  .search__img {
    transition: transform 0.3s ease;
  }
  .search__price {
    transition: transform 0.3s ease;
  }
  .search__item:hover .search__name {
    transform: scale(1.1);
  }
  .search__item:hover .search__img {
    transform: scale(1.1);
  }
  .search__item:hover .search__price {
    transform: scale(1.1);
  }
  .about__box {
    max-width: 600px;
  }
  .about__img {
    height: 350px;
    width: 100%;
  }
  .newsletter__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
  .newsletter__btn {
    font-size: 1.5rem;
    transition: border 0.3s ease;
  }
  .newsletter__btn:hover {
    border: 1px solid #BE9C79;
  }
  .footer__body {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }
}/*# sourceMappingURL=learnmore.css.map */