*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

html {
  scroll-padding-top: 40px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5em;
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  height: 8vh;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
  background-color: #101311;
}
.nav__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__button {
  padding: 0.5em;
  color: #ffffff;
  font-size: 2.4rem;
}
.nav__hide {
  display: none;
}
.nav__logo {
  display: none;
}
.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  position: fixed;
  left: 0;
  top: 8vh;
  width: 100%;
  height: 92vh;
  padding: 5em 0 0 1.5em;
  text-transform: uppercase;
  font-family: "Asul", sans-serif;
  letter-spacing: 0.7px;
  background-color: #ffffff;
  transform: translateX(-105%);
  transition: all 0.3s ease;
}
.nav__links--active {
  transform: translateX(0);
}
.nav__link {
  padding: 0.5em;
  color: #222;
}
.nav__icons {
  display: flex;
  gap: 1em;
  margin-right: 0.2em;
  color: #ffffff;
  font-size: 2rem;
}
.nav__shopping {
  position: relative;
}
.nav__quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -14px;
  right: -9px;
  width: 20px;
  height: 20px;
  background-color: rgb(172, 48, 48);
  color: #ffffff;
  border-radius: 50%;
  font-size: 1.1rem;
}

.search {
  position: fixed;
  top: 54px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}
.search__bgc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.788);
  transition: 0.4s ease;
  scale: 0;
  opacity: 0;
}
.search__bgc--active {
  scale: 1;
  opacity: 1;
}
.search__close {
  position: absolute;
  right: -30px;
  top: 8px;
  font-size: 3rem;
  color: #be9c79;
}
.search__input {
  width: 100%;
  height: 50px;
  padding: 1em 2em;
  margin-bottom: 0.2em;
  background-color: #ffffff;
  border: none;
  transition: transform 0.4s ease;
  text-transform: capitalize;
  font-family: "Asul", sans-serif;
  font-size: 1.6rem;
}
.search__input:focus {
  outline: none;
}
.search__items {
  background-color: rgb(253, 253, 253);
}
.search__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.8em 0.3em;
  margin-bottom: 0.7em;
  flex-basis: 35%;
  font-family: "Asul", sans-serif;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.search__img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.search__name {
  color: #222;
}
.search__price {
  color: #be9c79;
}
.search__overflow {
  overflow: hidden;
}

.cart {
  position: fixed;
  right: 0;
  top: 8vh;
  height: 92vh;
  width: 100%;
  padding: 2em 0.5em;
  transform: translateX(100%);
  font-size: 1.4rem;
  background-color: #ffffff;
  transition: transform 0.5s ease;
  z-index: 99;
  overflow: auto;
}
.cart__active {
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}
.cart__heading {
  margin: 1em;
  font-family: "Asul", sans-serif;
  font-size: 3.8rem;
  text-align: center;
}
.cart__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3em;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(156, 156, 156);
}
.cart__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.cart__img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__name {
  max-width: 120px;
  padding-right: 0.3em;
}
.cart__count {
  display: flex;
  gap: 0.1em;
  align-items: center;
  border-radius: 10px;
}
.cart__minus, .cart__plus, .cart__trash {
  font-size: 1.4rem;
  padding: 0.2em;
}
.cart__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}
.cart__btn-back, .cart__btn-checkout, .cart__subtotal {
  padding: 0.8em 1.8em;
  text-transform: capitalize;
  background-color: #be9c79;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.4rem;
  width: 200px;
  text-align: center;
}
.cart__subtotal {
  background-color: rgba(139, 131, 120, 0.9921568627);
}
.cart__error {
  display: none;
  margin-top: 1.5em;
  text-align: center;
  font-size: 2rem;
  color: rgb(37, 37, 37);
}

.payment {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: none;
}
.payment__block {
  overflow: hidden;
}
.payment__title {
  font-size: 2rem;
  margin-bottom: 1em;
  color: rgb(150, 150, 150);
}
.payment__label {
  font-size: 1.4rem;
}
.payment__input {
  width: 100%;
  padding: 0.5em;
  margin: 1em 0;
  border: none;
  border-bottom: 1px solid gray;
}
.payment__input-date {
  width: 30%;
}
.payment__input::-moz-placeholder {
  color: rgb(163, 163, 163);
}
.payment__input::placeholder {
  color: rgb(163, 163, 163);
}
.payment__icons {
  display: flex;
}
.payment__icon {
  margin-right: 1em;
  width: 40px;
}
.payment__info {
  display: flex;
  justify-content: space-between;
}
.payment__message {
  padding: 1em 0;
  text-align: center;
  font-size: 1.4rem;
}
.payment__button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1.2em 0;
  background-color: rgba(34, 121, 34, 0.877);
  color: #ffffff;
  font-size: 1.4rem;
}
.payment__close {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  font-size: 2rem;
  padding: 0.3em;
  color: rgb(136, 127, 127);
}

.header__bgc {
  height: 100vh;
  background: url("../img/small_bgc.jpg") rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}
.header__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  height: 100%;
  color: #ffffff;
  font-family: "Asul", sans-serif;
}
.header__text {
  text-transform: capitalize;
}
.header__heading {
  text-align: center;
  font-size: 3.8rem;
}
.header__link {
  padding: 0.6em 1.2em;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
}

.about {
  max-width: 450px;
  padding-bottom: 4em;
}
.about__heading {
  margin-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  font-family: "Asul", sans-serif;
  font-size: 3.8rem;
}
.about__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__img {
  margin-bottom: 1em;
  padding: 0.3em;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__title {
  margin-bottom: 0.5em;
  font-family: "Asul", sans-serif;
  font-size: 2rem;
}
.about__text {
  margin-bottom: 1.5em;
}
.about__btn {
  padding: 0.8em 1.8em;
  text-transform: capitalize;
  background-color: #be9c79;
  color: #ffffff;
}

.services {
  padding: 1em 0 3em;
  background-color: #f2efe6;
}
.services__heading {
  margin: 1em 0 1.5em;
  font-family: "Asul", sans-serif;
  text-align: center;
  font-size: 3.8rem;
}
.services__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.services__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.services__img {
  width: 60px;
}
.services__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__title {
  margin-bottom: 0.2em;
}
.services__text {
  margin-bottom: 1em;
  max-width: 450px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  background-color: #101311;
  color: #ffffff;
}
.menu__heading {
  margin-bottom: 0.3em;
  font-family: "Asul", sans-serif;
  font-size: 3.8rem;
  color: #be9c79;
}
.menu__text {
  margin-bottom: 4em;
  text-align: center;
}
.menu__box {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-bottom: 3em;
}
.menu__img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
}
.menu__content {
  width: 100%;
}
.menu__title {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
  font-family: "Asul", sans-serif;
  font-size: 2.2rem;
  color: #be9c79;
}
.menu__span {
  flex-grow: 1;
  margin: 0 0.5em;
  display: block;
  border-bottom: 2px dotted #ffffff;
}
.menu__paragraph {
  font-size: 1.4rem;
  color: #ffffff;
}

.products {
  padding: 3em 0;
}
.products__heading {
  margin-bottom: 0.3em;
  font-family: "Asul", sans-serif;
  font-size: 3.8rem;
  text-align: center;
}
.products__heading--span {
  color: #be9c79;
}
.products__text {
  margin-bottom: 3em;
  text-align: center;
}
.products__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.products__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3em;
  font-family: "Asul", sans-serif;
  overflow: hidden;
}
.products__overlay, .products__icon {
  opacity: 0;
}
.products__img {
  height: 250px;
  max-width: 250px;
  margin-bottom: 1em;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}
.products__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.products__buttons {
  display: flex;
  gap: 0.5em;
}
.products__btn, .products__btn-add {
  padding: 0.8em 1.8em;
  text-transform: capitalize;
  background-color: #be9c79;
  color: #ffffff;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 90%;
  max-height: 500px;
  padding: 1em 1em 3em;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  background-color: #ebe8e6;
}
.modal__bgc {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.788);
  z-index: 999;
}
.modal::-webkit-scrollbar {
  width: 6px;
  background-color: orange;
}
.modal::-webkit-scrollbar-thumb {
  background-color: #333;
}
.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__images {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-bottom: 0.5em;
}
.modal__main-img img {
  width: 100%;
  height: 100%;
  margin-bottom: 0.5em;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__img {
  display: block;
  width: 100%;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__small-images {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
}
.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.modal__heading {
  font-family: "Asul", sans-serif;
}
.modal__price {
  font-family: "Asul", sans-serif;
  color: #be9c79;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: left;
}
.modal__text {
  margin-bottom: 1em;
}
.modal__btn-add, .modal__close-button {
  padding: 0.8em 1.8em;
  text-transform: capitalize;
  background-color: #be9c79;
  color: #ffffff;
}
.modal__close-button {
  margin-top: 0.5em;
}

.enjoy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 40vh;
  background: url("../img/enjoy_small.jpg") rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.enjoy__heading {
  font-family: "Asul", sans-serif;
  font-size: 2.5rem;
}
.enjoy__text {
  max-width: 500px;
  padding: 0 1em;
  margin-bottom: 1em;
  text-align: center;
}

.blog {
  padding: 3em 0;
}
.blog__heading {
  margin-bottom: 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Asul", sans-serif;
  font-size: 3.8rem;
}
.blog__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}
.blog__box {
  height: 100%;
  max-width: 300px;
  overflow: hidden;
}
.blog__overflow {
  margin-bottom: 0.5em;
  overflow: hidden;
}
.blog__img {
  height: 220px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog__icons {
  display: flex;
  gap: 0.9em;
  margin-bottom: 0.5em;
  font-size: 1.4rem;
  font-weight: 600;
  color: grey;
}
.blog__span {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.blog__title {
  margin-bottom: 0.5em;
  font-family: "Asul", sans-serif;
  font-size: 2rem;
  color: #222;
}
.blog__text {
  margin-bottom: 0.5em;
  color: rgb(85, 85, 85);
}
.blog__btn {
  padding: 0.8em 1.8em;
  text-transform: capitalize;
  background-color: #be9c79;
  color: #ffffff;
  border-radius: 5px;
}
.blog__link {
  color: #ffffff;
}

.open {
  height: 100vh;
}
.open__img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.open__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  background: url("../img/open_bgc.jpg") rgba(0, 0, 0, 0.9);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.open__heading {
  margin-bottom: 1em;
  padding: 0 1em;
  font-family: "Asul", sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
.open__content {
  font-size: 1.4rem;
}
.open__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}
.open__day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}
.open__span {
  display: block;
  width: 30%;
  height: 14px;
  margin: 0 0.4em;
  border-bottom: 2px dotted #ffffff;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
  font-family: "Asul", sans-serif;
  color: #ffffff;
  background-color: #111;
  border-bottom: 2px solid #373738;
}
.newsletter__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
.newsletter__text {
  text-align: center;
}
.newsletter__input {
  width: 290px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.newsletter__input:focus {
  border: 1px solid #be9c79;
  outline: none;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  width: 100%;
  overflow: hidden;
}
.newsletter__msg {
  font-size: 1.4rem;
  text-align: center;
}
.newsletter__btn {
  padding: 0.5em 1em;
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}
.newsletter__send {
  color: #be9c79;
}

.contact {
  padding: 1em 0;
  background-color: #141414;
  border-bottom: 2px solid #373738;
}
.contact__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.contact__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  margin-bottom: 0.5em;
  font-size: 6rem;
  color: #ffffff;
  font-family: "Arizonia", cursive;
}
.contact__img {
  width: 40px;
}
.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  color: #ffffff;
}
.contact__title {
  margin-top: 0.5em;
  text-align: center;
}
.contact__text {
  font-size: 1.4rem;
}
.contact__border {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #be9c79;
}
.contact__icon {
  font-size: 2rem;
}

.footer {
  padding: 1em;
  background-color: #141414;
  color: #ffffff;
}
.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer__icon {
  font-size: 2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 70px;
  }
  .nav {
    background-color: transparent;
  }
  .nav__button {
    display: none;
  }
  .nav__bgc {
    background-color: #101311;
  }
  .nav__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #ffffff;
    font-family: "Arizonia", cursive;
  }
  .nav__img {
    padding: 0.1em;
    width: 45px;
  }
  .nav__links {
    flex-direction: row;
    gap: 0.5em;
    position: relative;
    left: unset;
    top: unset;
    width: unset;
    height: unset;
    padding: 0;
    opacity: 1;
    transform: translateX(0);
    background-color: unset;
  }
  .nav__link {
    position: relative;
    padding: 0.3em 0.5em;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  .nav__link:hover {
    color: #be9c79;
  }
  .nav__glass, .nav__shopping {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .nav__glass:hover, .nav__shopping:hover {
    color: #be9c79;
  }
  .search {
    max-width: 700px;
  }
  .search__close {
    cursor: pointer;
  }
  .search__name, .search__img, .search__price {
    transition: transform 0.3s ease;
  }
  .search__item:hover .search__name, .search__item:hover .search__img, .search__item:hover .search__price {
    transform: scale(1.1);
  }
  .cart {
    width: 500px;
  }
  .cart__bgc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.788);
    opacity: 0;
    z-index: -1;
  }
  .cart__bgc-active {
    z-index: 1;
    opacity: 1;
  }
  .cart__name {
    width: 150px;
  }
  .cart__btns {
    flex-direction: row;
  }
  .cart__btn-back, .cart__btn-checkout, .cart__subtotal {
    width: unset;
    font-size: 1.3rem;
  }
  .cart__btn-back, .cart__btn-checkout {
    transition: background-color 0.3s ease;
  }
  .cart__btn-back:hover, .cart__btn-checkout:hover {
    background-color: rgba(139, 131, 120, 0.9921568627);
  }
  .cart__minus, .cart__plus, .cart__trash {
    cursor: pointer;
  }
  .payment {
    width: 500px;
    height: 620px;
    margin-top: 2em;
  }
  .payment__button {
    transition: background-color 0.3s ease;
  }
  .payment__button:hover {
    background-color: rgba(30, 116, 30, 0.911);
  }
  .payment__close {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    font-size: 2rem;
    padding: 0.3em;
    color: rgb(136, 127, 127);
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .payment__close:hover {
    color: #3a3939;
  }
  .header__bgc {
    height: 100vh;
    background: url("../img/big_bgc.jpg") rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
  }
  .header__heading {
    margin-bottom: 0.2em;
    font-size: 5rem;
  }
  .header__link {
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
  }
  .header__link:hover {
    background-color: rgba(255, 255, 255, 0.103);
  }
  .about {
    transform: translateY(70px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
    max-width: unset;
  }
  .about__body {
    flex-direction: row;
    gap: 2em;
  }
  .about__heading {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
    padding-top: 2em;
    margin-bottom: 1.5em;
    font-size: 4.2rem;
  }
  .about__btn {
    font-size: 1.4rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .about__btn:hover {
    background-color: rgba(139, 131, 120, 0.9921568627);
  }
  .about__img {
    width: 400px;
    height: 400px;
  }
  .about__title {
    font-size: 2.6rem;
  }
  .about__text {
    max-width: 400px;
    margin-bottom: 1.5em;
  }
  .services__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
  }
  .services__heading {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
    font-size: 4.2rem;
  }
  .services__body {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
    gap: 1em;
  }
  .services__body:hover .services__img {
    transform: rotateY(360deg);
  }
  .services__img {
    transition: transform 0.9s ease;
  }
  .services__text {
    width: 300px;
  }
  .menu__heading, .menu__text {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
  }
  .menu__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }
  .menu__title {
    transition: color 0.3s ease;
  }
  .menu__box {
    transform: translateY(70px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
  }
  .menu__box:hover .menu__title {
    color: rgb(224, 224, 224);
  }
  .products__heading, .products__text, .products__box {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
  }
  .products__overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s ease;
  }
  .products__overlay:hover {
    opacity: 1;
  }
  .products__icon {
    opacity: 1;
    color: #ffffff;
    font-size: 3.5rem;
  }
  .products__btn, .products__btn-add {
    transition: background-color 0.3s ease;
  }
  .products__btn:hover, .products__btn-add:hover {
    background-color: rgba(139, 131, 120, 0.9921568627);
  }
  .enjoy {
    height: 45vh;
    background: url("../img/enjoy.jpg") rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .enjoy__heading, .enjoy__text, .enjoy__btn {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
  }
  .enjoy__heading {
    font-size: 3rem;
  }
  .blog {
    padding: 5em 0;
  }
  .blog__heading {
    font-size: 3.5rem;
  }
  .blog__body {
    gap: 5em;
  }
  .blog__img {
    transition: transform 0.4s ease;
  }
  .blog__box:hover .blog__img {
    transform: scale(1.07);
  }
  .blog__heading, .blog__box {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
  }
  .blog__btn {
    transition: background-color 0.3s ease;
  }
  .blog__btn:hover {
    background-color: rgba(139, 131, 120, 0.9921568627);
  }
  .open {
    display: flex;
    height: 45vh;
  }
  .open__img, .open__body {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
    width: 50%;
    height: 100%;
  }
  .open__heading {
    font-size: 2.6rem;
  }
  .open__content {
    font-size: 1.6rem;
  }
  .open__heading, .open__content {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
  }
  .modal {
    max-width: 800px;
  }
  .modal__main-img img {
    width: 400px;
    height: 300px;
  }
  .modal__images {
    max-width: 300px;
  }
  .modal__body {
    flex-direction: row;
    gap: 3em;
  }
  .modal__content {
    width: 50%;
    gap: 1.5em;
    align-items: start;
  }
  .modal__small-images {
    display: flex;
  }
  .modal__img {
    height: 90px;
  }
  .modal__heading {
    font-size: 3.2rem;
  }
  .modal__price {
    font-size: 2.2rem;
  }
  .modal__btn-add, .modal__close-button {
    transition: background-color 0.3s ease;
  }
  .modal__btn-add:hover, .modal__close-button:hover {
    background-color: rgba(139, 131, 120, 0.9921568627);
  }
  .newsletter {
    height: 35vh;
  }
  .newsletter__form {
    flex-direction: row;
    align-items: start;
  }
  .newsletter__btn {
    font-size: 1.4rem;
    transition: border 0.3s ease;
  }
  .newsletter__btn:hover {
    border: 1px solid #be9c79;
  }
  .newsletter__title, .newsletter__text, .newsletter__form {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 2s, transform 1.5s;
  }
  .contact__content {
    display: flex;
    justify-content: center;
    gap: 3em;
    width: 100%;
    padding-bottom: 3em;
  }
  .contact__box {
    flex-direction: row;
    gap: 0.5em;
    margin-bottom: unset;
  }
  .contact__box:hover .contact__icon {
    color: #be9c79;
    transform: scale(0.9);
  }
  .contact__title {
    text-align: left;
  }
  .contact__icon {
    font-size: 2.4rem;
    transition: 0.3s ease color, 0.3s ease transform;
  }
  .contact__message, .contact__message-tel {
    margin-top: 0.8em;
    text-align: center;
    color: #be9c79;
    font-size: 1.2rem;
  }
  .footer__body {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }
  .footer__icon {
    transition: color 0.3s ease;
  }
  .footer__icon:hover {
    color: #be9c79;
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
  .about__img {
    width: 50%;
    padding: 0.3em;
    border: 3px solid orange;
  }
  .products__img {
    height: 300px;
    max-width: 300px;
  }
  .products__overlay {
    height: 300px;
  }
  .blog__body {
    gap: 2.5em;
  }
  .blog__box {
    max-width: 250px;
  }
  .enjoy {
    height: 40vh;
  }
  .enjoy__heading {
    font-size: 4rem;
  }
  .open {
    height: 50vh;
  }
  .open__heading {
    font-size: 3rem;
    margin-bottom: 1.2em;
  }
}/*# sourceMappingURL=mains.css.map */