*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

html {
  scroll-padding-top: 80px;
}

body {
  font-family: "Asul", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  width: 100%;
  padding: 0 0.5em;
}

.nav {
  display: flex;
  align-items: center;
  position: sticky;
  height: 8vh;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
  background-color: #101311;
}
.nav__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__button {
  padding: 0.5em;
  color: #ffffff;
  font-size: 2.4rem;
}
.nav__hide {
  display: none;
}
.nav__logo {
  display: none;
}
.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  position: fixed;
  left: 0;
  top: 8vh;
  width: 100%;
  height: 92vh;
  padding: 5em 0 0 1.5em;
  text-transform: uppercase;
  font-family: "Asul", sans-serif;
  letter-spacing: 0.7px;
  background-color: #ffffff;
  transform: translateX(-105%);
  transition: all 0.3s ease;
}
.nav__links--active {
  transform: translateX(0);
}
.nav__link {
  color: #222;
  padding: 0.5em;
}
.nav__icons {
  display: flex;
  gap: 1em;
  color: #ffffff;
  font-size: 2rem;
}
.nav__shopping {
  position: relative;
}
.nav__quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -14px;
  right: -9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.1rem;
  background-color: rgb(172, 48, 48);
}

.search {
  position: fixed;
  top: 54px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}
.search__close {
  position: absolute;
  right: -30px;
  top: 8px;
  font-size: 3rem;
  color: #be9c79;
}
.search__bgc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.788);
  transition: 0.4s ease;
  scale: 0;
  opacity: 0;
}
.search__bgc--active {
  scale: 1;
  opacity: 1;
}
.search__input {
  width: 100%;
  height: 50px;
  padding: 1em 2em;
  margin-bottom: 0.2em;
  background-color: #ffffff;
  border: none;
  transition: transform 0.4s ease;
  text-transform: capitalize;
  font-family: "Asul", sans-serif;
  font-size: 1.6rem;
}
.search__input:focus {
  outline: none;
}
.search__items {
  background-color: rgb(253, 253, 253);
}
.search__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.8em 0.3em;
  margin-bottom: 0.7em;
  flex-basis: 35%;
  border-bottom: 1px solid rgb(216, 216, 216);
  font-family: "Asul", sans-serif;
}
.search__img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.search__name {
  color: #222;
}
.search__price {
  color: #be9c79;
}
.search__overflow {
  overflow: hidden;
}

.cart {
  position: fixed;
  right: 0;
  top: 8vh;
  height: 92vh;
  width: 100%;
  padding: 2em 0.3em;
  transform: translateX(100%);
  font-size: 1.4rem;
  background-color: #ffffff;
  transition: transform 0.5s ease;
  z-index: 99;
}
.cart__active {
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}
.cart__heading {
  margin-bottom: 1em;
  font-family: "Asul", sans-serif;
  font-size: 3.8rem;
  text-align: center;
}
.cart__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3em;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(156, 156, 156);
}
.cart__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.cart__img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__name {
  max-width: 120px;
  padding-right: 0.3em;
}
.cart__count {
  display: flex;
  gap: 0.1em;
  align-items: center;
  border-radius: 10px;
}
.cart__minus, .cart__plus, .cart__trash {
  font-size: 1.4rem;
  padding: 0.2em;
}
.cart__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}
.cart__btn-back, .cart__btn-checkout, .cart__subtotal {
  padding: 0.8em 1.8em;
  text-transform: capitalize;
  background-color: #be9c79;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.4rem;
  width: 200px;
  text-align: center;
}
.cart__subtotal {
  background-color: rgba(139, 131, 120, 0.9921568627);
}
.cart__error {
  display: none;
  margin-top: 1.5em;
  text-align: center;
  font-size: 2rem;
  color: rgb(37, 37, 37);
}

.payment {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: none;
}
.payment__block {
  overflow: hidden;
}
.payment__title {
  font-size: 2rem;
  margin-bottom: 1em;
  color: rgb(150, 150, 150);
}
.payment__label {
  font-size: 1.4rem;
}
.payment__input {
  width: 100%;
  padding: 0.5em;
  margin: 1em 0;
  border: none;
  border-bottom: 1px solid gray;
}
.payment__input-date {
  width: 30%;
}
.payment__input::-moz-placeholder {
  color: rgb(163, 163, 163);
}
.payment__input::placeholder {
  color: rgb(163, 163, 163);
}
.payment__icons {
  display: flex;
}
.payment__icon {
  margin-right: 1em;
  width: 40px;
}
.payment__info {
  display: flex;
  justify-content: space-between;
}
.payment__message {
  padding: 1em 0;
  text-align: center;
  font-size: 1.4rem;
}
.payment__button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1.2em 0;
  background-color: rgba(34, 121, 34, 0.877);
  color: #ffffff;
  font-size: 1.4rem;
}
.payment__close {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  font-size: 2rem;
  padding: 0.3em;
  color: rgb(136, 127, 127);
}

.modal {
  padding: 2em 0;
  width: 100%;
  background-color: #ebe8e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__open-overflow {
  overflow: hidden;
}
.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__images {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-bottom: 0.5em;
}
.modal__main-img img {
  width: 500px;
  height: 320px;
  margin-bottom: 0.5em;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__img {
  width: 30%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__small-images {
  display: flex;
  justify-content: space-between;
}
.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.modal__heading {
  font-family: "Asul", sans-serif;
}
.modal__price {
  font-family: "Asul", sans-serif;
  color: #be9c79;
  font-weight: 600;
  font-size: 1.8rem;
}
.modal__text {
  text-align: center;
  margin-bottom: 1em;
  max-width: 400px;
}
.modal__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  position: relative;
}
.modal__count {
  display: flex;
}
.modal__input {
  margin: 0;
  padding: 0.5em;
  border: none;
  text-align: center;
  width: 100px;
}
.modal__btn-menu {
  padding: 0.8em 1.8em;
  text-transform: capitalize;
  background-color: #be9c79;
  color: #ffffff;
  width: 150px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
  font-family: "Asul", sans-serif;
  color: #ffffff;
  background-color: #111;
  border-bottom: 2px solid #373738;
}
.newsletter__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
.newsletter__text {
  text-align: center;
}
.newsletter__input {
  width: 290px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.newsletter__input:focus {
  border: 1px solid #be9c79;
  outline: none;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  width: 100%;
  overflow: hidden;
}
.newsletter__msg {
  font-size: 1.4rem;
  text-align: center;
}
.newsletter__btn {
  padding: 0.5em 1em;
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}
.newsletter__send {
  color: #be9c79;
}

.contact {
  padding: 1em 0;
  background-color: #141414;
  border-bottom: 2px solid #373738;
}
.contact__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.contact__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  margin-bottom: 0.5em;
  font-size: 6rem;
  color: #ffffff;
  font-family: "Arizonia", cursive;
}
.contact__img {
  width: 40px;
}
.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  color: #ffffff;
}
.contact__title {
  margin-top: 0.5em;
  text-align: center;
}
.contact__text {
  font-size: 1.4rem;
}
.contact__border {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #be9c79;
}
.contact__icon {
  font-size: 2rem;
}

.footer {
  padding: 1em;
  background-color: #141414;
  color: #ffffff;
}
.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.footer__icon {
  font-size: 2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

@media (min-width: 768px) {
  .nav__button {
    display: none;
  }
  .nav__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #ffffff;
    font-family: "Arizonia", cursive;
  }
  .nav__img {
    padding: 0.1em;
    width: 45px;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    color: aliceblue;
    border-radius: 10%;
  }
  .nav__links {
    flex-direction: row;
    gap: 0.5em;
    position: relative;
    left: unset;
    top: unset;
    width: unset;
    height: unset;
    padding: 0;
    opacity: 1;
    transform: translateX(0);
    background-color: unset;
  }
  .nav__link {
    position: relative;
    padding: 0.3em 0.5em;
    transition: color 0.3s ease;
    color: #ffffff;
  }
  .nav__link:hover {
    color: #be9c79;
  }
  .nav__glass {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .nav__glass:hover {
    color: #be9c79;
  }
  .nav__shopping {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .nav__shopping:hover {
    color: #be9c79;
  }
  .search {
    max-width: 700px;
  }
  .search__close {
    cursor: pointer;
  }
  .search__name, .search__img, .search__price {
    transition: transform 0.3s ease;
  }
  .search__item:hover .search__name, .search__item:hover .search__img, .search__item:hover .search__price {
    transform: scale(1.1);
  }
  .cart {
    width: 500px;
  }
  .cart__bgc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.788);
    opacity: 0;
    z-index: -1;
  }
  .cart__bgc-active {
    z-index: 1;
    opacity: 1;
  }
  .cart__name {
    width: 150px;
  }
  .cart__btns {
    flex-direction: row;
  }
  .cart__btn-back, .cart__btn-checkout, .cart__subtotal {
    width: unset;
  }
  .cart__btn-back, .cart__btn-checkout {
    transition: background-color 0.3s ease;
  }
  .cart__btn-back:hover, .cart__btn-checkout:hover {
    background-color: rgba(139, 131, 120, 0.9921568627);
  }
  .cart__minus, .cart__plus, .cart__trash {
    cursor: pointer;
  }
  .payment {
    width: 500px;
    height: 620px;
    margin-top: 2em;
  }
  .payment__button {
    transition: background-color 0.3s ease;
  }
  .payment__button:hover {
    background-color: rgba(30, 116, 30, 0.911);
  }
  .payment__close {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    font-size: 2rem;
    padding: 0.3em;
    color: rgb(136, 127, 127);
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .payment__close:hover {
    color: #3a3939;
  }
  .modal {
    height: 70vh;
  }
  .modal__main-img img {
    width: 500px;
    height: 320px;
    margin-bottom: 0.5em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .modal__body {
    flex-direction: row;
    gap: 2em;
  }
  .modal__images {
    width: 50%;
  }
  .modal__content {
    width: 50%;
  }
  .modal__small-images {
    max-width: 500px;
  }
  .modal__text {
    text-align: left;
  }
  .modal__content {
    gap: 1.5em;
    align-items: start;
  }
  .modal__heading {
    font-size: 3.2rem;
  }
  .modal__price {
    font-size: 2.2rem;
  }
  .modal__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  .modal__input {
    margin: 0;
    padding: 0.5em;
    width: 50px;
    border: none;
    text-align: center;
  }
  .modal__btn-add {
    width: 150px;
  }
  .modal__close-button {
    width: 90px;
  }
  .modal__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .modal__input {
    width: 50px;
    margin: 0;
    padding: 0.5em;
    border: none;
    text-align: center;
  }
  .modal__btn-menu {
    width: 150px;
    transition: background-color 0.3s ease;
  }
  .modal__btn-menu:hover {
    background-color: rgba(139, 131, 120, 0.9921568627);
  }
  .modal__close-button {
    width: 90px;
  }
  .newsletter {
    height: 35vh;
  }
  .newsletter__form {
    flex-direction: row;
    align-items: start;
  }
  .newsletter__btn {
    font-size: 1.4rem;
    transition: border 0.3s ease;
  }
  .newsletter__btn:hover {
    border: 1px solid #be9c79;
  }
  .contact__content {
    display: flex;
    justify-content: center;
    gap: 3em;
    width: 100%;
    padding-bottom: 3em;
  }
  .contact__box {
    flex-direction: row;
    gap: 0.5em;
    margin-bottom: unset;
  }
  .contact__box:hover .contact__icon {
    color: #be9c79;
    transform: scale(0.9);
  }
  .contact__title {
    text-align: left;
  }
  .contact__icon {
    font-size: 2.4rem;
    transition: 0.3s ease color, 0.3s ease transform;
  }
  .contact__message, .contact__message-tel {
    margin-top: 0.8em;
    text-align: center;
    color: #be9c79;
    font-size: 1.2rem;
  }
  .footer__body {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }
  .footer__icon {
    transition: color 0.3s ease;
  }
  .footer__icon:hover {
    color: #be9c79;
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
  .about__img {
    width: 50%;
    padding: 0.3em;
    border: 3px solid orange;
  }
}/*# sourceMappingURL=products.css.map */