@media (min-width: 1024px) {
	.container {
		max-width: 1200px;
	}

	.about {
		&__img {
			width: 50%;
			padding: 0.3em;
			border: 3px solid orange;
		}
	}

	.products {
		&__img {
			height: 300px;
			max-width: 300px;
		}

		&__overlay {
			height: 300px;
		}
	}

	.blog {
		&__body {
			gap: 3em;
		}

		&__box {
			max-width: 250px;
		}

		&__img {
			height: 250px;
		}
	}

	.enjoy {
		height: 40vh;

		&__heading {
			font-size: 4rem;
		}
	}

	.open {
		height: 50vh;

		&__heading {
			font-size: 3rem;
			margin-bottom: 1.2em;
		}
	}
}
