@use "colors" as *;

@mixin flexCenter($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin fromdown($translate) {
	transform: translateY($translate);
	opacity: 0;
	transition: opacity 2s, transform 1.5s;
}

@mixin button {
	padding: 0.8em 1.8em;
	text-transform: capitalize;
	background-color: $main;
	color: $white;
}
