@use "../../colors" as *;
@use "../../mixins" as *;
@use "../../reset" as *;
@use "../../sizes" as *;

@media (min-width: 768px) {
	.nav {
		&__button {
			display: none;
		}

		&__logo {
			@include flexCenter(row);

			font-size: 5rem;
			color: $white;
			font-family: "Arizonia", cursive;
		}

		&__img {
			width: 45px;

			color: aliceblue;
			// background-color: aliceblue;
			object-fit: cover;
			object-position: center;
			border-radius: 10%;
			padding: 0.1em;
		}
		// 		&__img{
		// 			width: 150px;
		// height: 60px;
		// object-fit: cover;
		// 			background-color: aliceblue;
		// 		}

		&__links {
			flex-direction: row;
			gap: 0.5em;
			position: relative;
			left: unset;
			top: unset;
			width: unset;
			height: unset;
			padding: 0;
			opacity: 1;
			transform: translateX(0);
			background-color: unset;
		}

		&__link {
			color: $white;
			position: relative;
			padding: 0.3em 0.5em;
			transition: color 0.3s ease;
			// &::after{
			// 	content: '';
			// 	width: 100%;
			// 	height: 2px;
			// 	position: absolute;
			// 	left: 0;
			// 	bottom: 0;
			// 	transform: scaleX(0);
			// 	transition: .3s;
			// 	// transform: translateY(-5px);
			// 	// opacity: 0;

			// }

			// 			&:hover::after{
			// 				transform: scaleX(1);
			// // opacity: 1;
			// 				background-color: $menu;
			// 				// transform: translateY(0);
			// 			}

			&:hover {
				color: $menu;
			}
		}

		&__glass {
			cursor: pointer;
			transition: color 0.3s ease;
			&:hover {
				color: $menu;
			}
		}

		&__shopping {
			cursor: pointer;
			transition: color 0.3s ease;
			&:hover {
				color: $menu;
			}
		}
	}
	///////////////////////////
	
	.blog {

	&__heading {
max-width: 800px;
		font-size: 5rem;
		font-weight: 500;
	
	}






	//////////////////////
	.newsletter {
		&__form {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: start;
		}

		&__btn {
			font-size: 1.5rem;
		}

	
		}
	}
	


}
