@use "../../colors" as *;
@use "../../mixins" as *;
@use "../../reset" as *;
@use "../../sizes" as *;

@media (min-width: 768px) {
	.nav {
		&__button {
			display: none;
		}

		&__logo {
			@include flexCenter(row);
			font-size: 5rem;
			color: $white;
			font-family: "Arizonia", cursive;
		}

		&__img {
			padding: 0.1em;
			width: 45px;
			object-position: center;
			object-fit: cover;
			color: aliceblue;
			border-radius: 10%;
		}

		&__links {
			flex-direction: row;
			gap: 0.5em;
			position: relative;
			left: unset;
			top: unset;
			width: unset;
			height: unset;
			padding: 0;
			opacity: 1;
			transform: translateX(0);
			background-color: unset;
		}

		&__link {
			color: $white;
			position: relative;
			padding: 0.3em 0.5em;
			transition: color 0.3s ease;

			&:hover {
				color: $main;
			}
		}

		&__glass {
			cursor: pointer;
			transition: color 0.3s ease;

			&:hover {
				color: $main;
			}
		}

		&__shopping {
			cursor: pointer;
			transition: color 0.3s ease;

			&:hover {
				color: $main;
			}
		}
	}

	.search {
		max-width: 700px;

		&__close {
			cursor: pointer;
		}

		&__name,
		&__img,
		&__price {
			transition: transform 0.3s ease;
		}

		&__item {
			&:hover .search__name,
			&:hover .search__img,
			&:hover .search__price {
				transform: scale(1.1);
			}
		}
	}

	.cart {
		width: 500px;

		&__bgc {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(24, 24, 24, 0.788);
			opacity: 0;
			z-index: -1;
		}

		&__bgc-active {
			z-index: 1;
			opacity: 1;
		}

		&__name {
			width: 150px;
		}

		&__btns {
			flex-direction: row;
		}

		&__btn-back,
		&__btn-checkout,
		&__subtotal {
			width: unset;
		}

		&__btn-back,
		&__btn-checkout {
			transition: background-color 0.3s ease;

			&:hover {
				background-color: $hover;
			}
		}

		&__minus,
		&__plus,
		&__trash {
			cursor: pointer;
		}
	}

	.payment {
		width: 500px;
		height: 620px;
		margin-top: 2em;

		&__button {
			transition: background-color 0.3s ease;
			&:hover {
				background-color: rgba(30, 116, 30, 0.911);
			}
		}

		&__close {
			@include flexCenter(row);
			position: absolute;
			top: 0.3em;
			right: 0.3em;
			font-size: 2rem;
			padding: 0.3em;
			color: rgb(136, 127, 127);
			cursor: pointer;
			transition: color 0.3s ease;

			&:hover {
				color: #3a3939;
			}
		}
	}

	.blog {
		&__heading {
			max-width: 800px;
			font-size: 5rem;
			font-weight: 500;
		}
	}

	.newsletter {
		height: 35vh;

		&__form {
			flex-direction: row;
			align-items: start;
		}

		&__btn {
			font-size: 1.4rem;
			transition: border 0.3s ease;

			&:hover {
				border: 1px solid $main;
			}
		}
	}

	.contact {
		&__content {
			display: flex;
			justify-content: center;
			gap: 3em;
			width: 100%;
			padding-bottom: 3em;
		}

		&__box {
			flex-direction: row;
			gap: 0.5em;
			margin-bottom: unset;

			&:hover .contact__icon {
				color: $main;
				transform: scale(0.9);
			}
		}

		&__title {
			text-align: left;
		}

		&__icon {
			font-size: 2.4rem;
			transition: 0.3s ease color, 0.3s ease transform;
		}
	}

	.footer {
		&__body {
			flex-direction: row;
			justify-content: space-between;
			padding-bottom: 0.5em;
		}

		&__icon {
			transition: color 0.3s ease;
			&:hover {
				color: $main;
				cursor: pointer;
			}
		}
	}
}
