@use "../../colors" as *;
@use "../..//mixins" as *;
@use "../../reset" as *;
@use "../../sizes" as *;

html {
	scroll-padding-top: 80px;
}

body {
	font-family: "Asul", sans-serif;
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

.container {
	max-width: 95%;
	margin: 0 auto;
	width: 100%;
	padding: 0 0.5em;
}

// NAV ////////////////////////
.nav {
	display: flex;
	align-items: center;
	position: absolute;
	height: 8vh;
	width: 100%;
	z-index: 999;
	transition: background-color 0.3s ease;
	background-color: $darker;
	// &__bgc {
	// 	background-color: $darker;
	// }

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		// /////////////
	}

	&__button {
		padding: 0.5em;
		color: $white;
		font-size: 2.4rem;
		cursor: pointer;
	}

	&__hide {
		display: none;
	}

	&__logo {
		display: none;
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;

		gap: 3em;
		position: fixed;
		left: 0;
		top: 8vh;
		width: 100%;
		height: 92vh;
		padding: 5em 0 0 1.5em;
		text-transform: uppercase;
		font-family: $heading-font;
		letter-spacing: 0.7px;
		background-color: $white;
		transform: translateX(-105%);
		// opacity: 0;
		transition: all 0.3s ease;

		&--active {
			// opacity: 1;
			transform: translateX(0);
		}
	}

	&__link {
		color: $dark;
		padding: 0.5em;
	}

	&__icons {
		display: flex;
		gap: 1em;
		color: $white;
		font-size: 2rem;
	}
}

// /////////////////////search////////////////
.search {
	position: fixed;
	top: 54px;
	left: 50%;
	width: 80%;
	transform: translateX(-50%);

	&__close {
		position: absolute;
		right: -30px;
		top: 8px;
		font-size: 3rem;
		color: $menu;
		cursor: pointer;
	}

	&__bgc {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(24, 24, 24, 0.788);
		transition: 0.4s ease;
		scale: 0;
		opacity: 0;

		&--active {
			scale: 1;
			opacity: 1;
		}
	}

	&__input {
		width: 100%;
		height: 50px;
		padding: 1em 2em;
		margin-bottom: 0.2em;
		background-color: $white;
		border: none;
		transition: transform 0.4s ease;
		text-transform: capitalize;
		font-family: $heading-font;
		font-size: 1.6rem;
		&:focus {
			outline: none;
		}
	}

	&__items {
		background-color: rgb(253, 253, 253);
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.3em 0.8em 0.3em;
		margin-bottom: 0.7em;
		flex-basis: 35%;
		border-bottom: 1px solid rgb(216, 216, 216);

		font-family: $heading-font;
	}

	&__img {
		height: 50px;
		width: 50px;
		object-fit: cover;
	}

	&__name {
		color: $dark;
	}
	&__price {
		color: $menu;
	}

	&__overflow {
		overflow: hidden;
	}
}

/////////////////////modal//////////////
/// 
.modal {
	position: relative;
	width: 90%;
	max-height: 500px;
	padding: 1em 1em 3em;
	overflow-y: auto;
	background-color: #ebe8e6;
	display: flex;
	justify-content: center;
	align-items: center;

	&__open-overflow {
		overflow: hidden;
	}

	&::-webkit-scrollbar {
		background-color: orange;
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #333;
	}

	&__body {
		@include flexCenter(column);
	}

	&__images {
		display: flex;
		flex-direction: column;
		max-width: 350px;
		margin-bottom: 0.5em;
	}

	&__main-img img {
		width: 350px;
		height: 100%;
		margin-bottom: 0.5em;
		object-fit: cover;
	}

	&__img {
		display: block;
		width: 70px;
		height: 70px;
		object-fit: cover;
	}

	&__small-images {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5em;
		width: 100%;
	}

	&__content {
		@include flexCenter(column);
		gap: 0.5em;
	}

	&__heading {
		font-family: $heading-font;
	}

	&__price {
		font-family: $heading-font;
		color: $menu;
		font-weight: 600;
		font-size: 1.8rem;
	}

	&__buttons {
		@include flexCenter(column);
		gap: 0.8em;
	}

	&__count {
		display: flex;
	}

	&__input {
		margin: 0;
		padding: 0.5em;
		border: none;
		text-align: center;
	}

	&__down,
	&__up {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		background-color: rgb(211, 209, 209);
		cursor: pointer;
	}
	&__btn-add {
		padding: 0.8em 1.8em;
		background-color: $menu;
		color: $white;
		text-transform: uppercase;
	}
	&__close-button {
		padding: 0.8em 1.8em;
		background-color: #5f5f5e;
		color: $white;
		text-transform: uppercase;
	}
}
// /////////////////////////

.blog {

		&__bgc{
		height: 60vh;
		background: url("/blogbgc/coffee-g5a9246845_1280.jpg") rgba(24, 24, 24, 0.8);
		background-blend-mode: darken;
		@include flexCenter(column);
		background-size: cover;
		background-position: center;
		margin-bottom: 3em;
		}

	&__heading {
color: $white;
		font-family: $heading-font;
		font-size: 3rem;
		text-align: center;
		padding: 0 1em;
	}

	&__box{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 4em;
	}

&__body{
@include flexCenter(column);
gap: 0.3em;
width: 700px;

}
&__img{
	width: 100%;
	object-fit: cover;
	border: 4px solid rgb(172, 154, 154);
	padding: 0.3em;
}

&__content{
	width: 100%;
	text-align: left;
}

&__icons{
margin-bottom: 1em;
display: flex;
gap:1em;
color: grey;

}

&__span{
	display: flex;
	align-items: center;
	gap: .3em;
}
&__title{
	font-size: 2.4rem;
	margin-bottom: 0.4em;
}
&__line2{
	position: relative;


	margin: 2em 0;
}
&__line{
font-family: serif;
padding-left: 1.2em;



}
&__line::after{
content: '';
position: absolute;
width: 4px;
height: 100%;

 background-color: rgb(172, 154, 154);
 left: 0;
top: 0;
}

}




// //////////////////
.newsletter {
	@include flexCenter(column);
	gap: 1em;
	padding: 2em 0;
	font-family: $heading-font;
	color: $white;
	background-color: $black;

	&__content {
		@include flexCenter(column);
		gap: 0.7em;
	}

	&__text {
		text-align: center;
	}

	&__input {
		width: 290px;
		padding: 0.5em;

		&:focus {
			border: 1px solid $menu;
			outline: none;
		}
	}

	&__form {
		@include flexCenter(column);
		gap: 0.3em;
		width: 100%;
		overflow: hidden;
	}

	&__msg {
		font-size: 1.4rem;
	}

	&__btn {
		width: fit-content;
				padding: 0.5em 1em;
				background: none;
				color: $white;
				border: 1px solid $white;
				text-transform: uppercase;
		
				&:focus {
					border: 1px solid $menu;
					outline: none;
				}
			}

	&__send {
		color: $menu;
	}
}

.footer {
	background-color: $dark;
	color: $white;
	padding: 1em;
	&__body {
		@include flexCenter(column);
		gap: 1em;
	}
	&__img {
		width: 50px;
		height: 25px;
		object-fit: cover;
	}

	&__imgs {
		display: flex;
		gap: 0.5em;
	}
} 

@import "medium";
@import "large";
