@use "../../colors" as *;
@use "../../mixins" as *;
@use "../../reset" as *;
@use "../../sizes" as *;


html {
	scroll-padding-top: 80px;
}

body {
	font-family: "Asul", sans-serif;
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

.container {
	max-width: 95%;
	margin: 0 auto;
	width: 100%;
	padding: 0 0.5em;
}

// NAV ////////////////////////
.nav {
	display: flex;
	align-items: center;
	position: sticky;
	height: 8vh;
	width: 100%;
	z-index: 999;
	transition: background-color 0.3s ease;
	background-color: $darker;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		// /////////////
	}

	&__button {
		padding: 0.5em;
		color: $white;
		font-size: 2.4rem;
		cursor: pointer;
	}

	&__hide {
		display: none;
	}

	&__logo {
		display: none;
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;

		gap: 3em;
		position: fixed;
		left: 0;
		top: 8vh;
		width: 100%;
		height: 92vh;
		padding: 5em 0 0 1.5em;
		text-transform: uppercase;
		font-family: $heading-font;
		letter-spacing: 0.7px;
		background-color: $white;
		transform: translateX(-105%);
		// opacity: 0;
		transition: all 0.3s ease;

		&--active {
			// opacity: 1;
			transform: translateX(0);
		}
	}

	&__link {
		color: $dark;
		padding: 0.5em;
	}

	&__icons {
		display: flex;
		gap: 1em;
		color: $white;
		font-size: 2rem;
	}
}

// /////////////////////search////////////////
.search {
	position: fixed;
	top: 54px;
	left: 50%;
	width: 80%;
	transform: translateX(-50%);

	// position: relative;

	// display: none;

	// position: absolute;
	// /////////////////
	// display: none;
	// /////klkulator top///////////
	// height: 300px;

	// z-index: -2;

	&__close {
		position: absolute;
		right: -30px;
		top: 8px;
		font-size: 3rem;
		color: $menu;
		cursor: pointer;
	}

	&__bgc {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(24, 24, 24, 0.788);
		transition: 0.4s ease;
		scale: 0;
		opacity: 0;
		// transform: translateX(100%);

		&--active {
			scale: 1;
			opacity: 1;
			// transform: translateX(0);
		}
	}

	&__input {
		width: 100%;
		height: 50px;
		padding: 1em 2em;
		margin-bottom: 0.2em;
		background-color: $white;
		border: none;
		transition: transform 0.4s ease;
		text-transform: capitalize;
		font-family: $heading-font;
		font-size: 1.6rem;
		// transform: translateY(-200px);

		// &--active {
		// 	transform: translateY(0);
		// }

		&:focus {
			outline: none;
		}
	}

	// &__list {

	// 	// display: none;

	// }

	&__items {
		background-color: rgb(253, 253, 253);
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.3em 0.8em 0.3em;
		margin-bottom: 0.7em;
		flex-basis: 35%;
		border-bottom: 1px solid rgb(216, 216, 216);

		font-family: $heading-font;
		// width: 100%;
	}

	&__img {
		height: 50px;
		width: 50px;
		object-fit: cover;
	}

	&__name {
		color: $dark;
	}
	&__price {
		color: $menu;
	}

	&__overflow {
		overflow: hidden;
	}
}

.modal {
	padding: 2em 0;
	// left: 50%;
	width: 100%;
	// height: 100vh;
	// padding: 1em 1em 3em;

	// transform: translate(-50%, -50%);
	background-color: #ebe8e6;
	display: flex;
	justify-content: center;
	align-items: center;
	// &__bgc {
	// 	display: none;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: rgba(24, 24, 24, 0.788);
	// }

	&__open-overflow {
		overflow: hidden;
	}

	&__body {
		@include flexCenter(column);
	}

	&__images {
		display: flex;
		flex-direction: column;
		max-width: 500px;
		margin-bottom: 0.5em;
		// overflow: hidden;
	}

	&__main-img img {
		width: 500px;
		height: 320px;
		margin-bottom: 0.5em;

		object-fit: cover;
	}

	&__img {
		// width: 70px;
		// height: 70px;
		width: 30%;
		object-position: center;
		object-fit: cover;
	}

	&__small-images {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		@include flexCenter(column);
		gap: 0.5em;
	}

	&__heading {
		font-family: $heading-font;
	}

	&__price {
		font-family: $heading-font;
		color: $menu;
		font-weight: 600;
		font-size: 1.8rem;
	}

	&__text {
		text-align: center;
		margin-bottom: 1em;
		max-width: 400px;
	}
	&__buttons {
		@include flexCenter(column);
		gap: 0.8em;
		// background-color: #5f5f5e;
		position: relative;
	}

	&__count {
		display: flex;
	}

	&__input {
		margin: 0;
		padding: 0.5em;
		border: none;
		text-align: center;
		width: 100px;
	}

	&__down,
	&__up {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		background-color: rgb(211, 209, 209);
		cursor: pointer;
	}
	&__btn-menu
	{
		padding: 0.6em 1.2em;
		background-color: $menu;
		color: $white;
		text-transform: uppercase;
		width: 150px;
	}
}

.newsletter {
	@include flexCenter(column);
	gap: 1em;
	padding: 2em 0;
	font-family: $heading-font;
	color: $white;
	background-color: $black;

	&__content {
		@include flexCenter(column);
		gap: 0.7em;
	}

	&__text {
		text-align: center;
	}

	&__input {
		width: 290px;
		padding: 0.5em;

		&:focus {
			border: 1px solid $menu;
			outline: none;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.3em;
		width: 100%;
		overflow: hidden;
	}

	&__msg {
		font-size: 1.4rem;
		text-align: center;
		margin-top: 0.5em;
	}

	&__box {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	&__btn {
		width: fit-content;
		padding: 0.5em 1em;
		background: none;
		color: $white;
		border: 1px solid $white;
		text-transform: uppercase;

		&:focus {
			border: 1px solid $menu;
			outline: none;
		}
	}

	&__send {
		color: $menu;
	}
}

.contact {
	padding: 1em 0;
	background-color: $dark;

	&__body {
		@include flexCenter(column);
		color: $white;
	}

	&__logo {
		@include flexCenter(row);
		gap: 0.1em;
		font-size: 6rem;
		color: $white;
		font-family: "Arizonia", cursive;
		margin-bottom: 0.5em;
	}

	&__img {
		width: 40px;
	}

	&__box {
		@include flexCenter(column);
		margin-bottom: 2em;
		color: $white;

	
	}

	&__title {
		margin-top: 0.5em;
		text-align: center;
	}

	&__text {
		font-size: 1.4rem;
	}
	&__border {
		width: 50px;
		height: 50px;
		@include flexCenter(row);
		border: 1px solid $menu;
	}

	&__icon {
		font-size: 2rem;
	
	}

	&__message{
		color: $menu;
		margin-top: .5em;
		display: block;
		font-size: 1.2rem;
		display: none;
	}
}

.footer {
	background-color: $dark;
	color: $white;
	padding: 1em;
	&__body {
		@include flexCenter(column);
		gap: 1em;
	}
	&__img {
		width: 50px;
		height: 25px;
		object-fit: cover;
	}

	&__imgs {
		display: flex;
		gap: 0.5em;
	}
}

@import "../../nav";
@import "medium";
@import "large";

